body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    padding-left: 170px;
   
   }
   header {
    background: #ebebeb;
    padding: 40px;
    text-align: center;
    margin: 10px;
   
   
   }
   
   nav {
    background: #ebebeb;
    text-align: center;
    padding: 40px;
    margin: 10px;
   
   
   
   }
   
   section {
    background: #ebebeb;
    width: 480px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 10px;
   
   }
   
   aside {
    color: #777;
    background: #ebebeb;
    float: right;
    text-align: center;
    padding-top: 30px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 243px;
    margin-bottom: 10px;
    margin-right: 10px;
   }
   
   
   article {
    color: #ebebeb;
    background: #777;
    text-align: center;
    width: 438px;
    padding-top: 20px;
    margin-left: 20px;
    padding-bottom: 20px;
   }
   
   h1 {
    color: #777;
    background: #ebebeb;
    font-size: 17px;
    width: 380px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 30px;
    padding-left: -20px;
   }
   
   p {
    color: #777;
    background: #ebebeb;
    text-align: center;
    width: 380px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 30px;
   }
   
   
   
   footer {
    background: #ebebeb;
    clear: both;
    text-align: center;
    padding: 40px;
    margin: 10px;
   
   
   }